<section class="flex flex-col items-center justify-center p-6">
  <h2 class="text-2xl font-semibold mb-4">Miembro de:</h2>
  <div class="flex space-x-6">
    <!-- Logo 1 -->
    <img src="/images/miembro-de/logo-arr.png" alt="Logo 1" class="h-16">
    <!-- Logo 2 -->
    <img src="/images/miembro-de/logo-canaco.png" alt="Logo 2" class="h-16">
    
  </div>
</section>
