---

---

<div class="container text-center mt-2 pt-2" style="margin-top: 12rem;">


  <h1 class="text-danger fw-bold">Bienvenidos a RIO RECOLECTORA</h1>
  <p class="lead">Especialistas en recolección de residuos industriales y comerciales.</p>
</div>
