---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />

<div class="container mt-5">
  <h1 class="text-center text-primary">Nuestros Servicios</h1>
  <p class="text-center">Ofrecemos soluciones eficientes para la recolección y manejo de residuos industriales y comerciales.</p>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <img src="/images/recoleccion.jpg" class="card-img-top" alt="Recolección de Residuos">
        

        <div class="card-body">
          <h5 class="card-title">Recolección de Residuos</h5>
          <p class="card-text">Servicio eficiente de recolección de residuos industriales y comerciales.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <img src="/images/manejo.jpg" class="card-img-top" alt="Manejo de Residuos">
        <div class="card-body">
          <h5 class="card-title">Manejo de Residuos</h5>
          <p class="card-text">Soluciones responsables para el manejo y disposición de residuos.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="/images/reciclaje.jpg" class="card-img-top" alt="Reciclaje">
        <div class="card-body">
          <h5 class="card-title">Reciclaje</h5>
          <p class="card-text">Programas de reciclaje para reducir el impacto ambiental.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<Footer />
